@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply px-4 sm:px-8 md:px-16 lg:px-40 pt-16 md:pt-20 pb-20;
}

h1 {
  @apply text-5xl px-5 pb-12 font-bold drop-shadow-md;
}

h2 {
  @apply text-2xl px-3 pb-4 font-light;
}

ul {
  list-style-type: disc;
  padding-top: 10px;
  padding-left: 40px;
}

a {
  @apply text-orange;
}
